---
title: 🐣 Phạm Xuân Tiếp.
layout: default
header_content: |
  <span class="smol"><a href="/en">English</a> / Vietnam</span>
---

<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tài khoản tại
  <a href="https://hsbc.com.vn/"><strong>HSBC</strong></a>: <strong>004143665001</strong>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tài khoản tại
  <a href="https://cimbbank.com.vn/"><strong>CIMB</strong></a>: <strong>00336500201403</strong>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tài khoản tại
  <a href="https://www.techcombank.com.vn/"><strong>Techcombank</strong></a>: <strong>19036783796010</strong>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tôi bán tài khoản <a href="https://google.com/adsense">AdSense</a> chưa PIN, có PIN và đã PAY.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tôi chạy quảng cáo <a href="https://www.facebook.com/business/tools/ads-manager" rel="me">Facebook ads</a>, <a href="https://ads.google.com" rel="me">Google ads</a> với ngân sách tiết kiệm.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I <a href="/notes">write random notes here</a>. Subscribe to them with <a href="/notes.xml">RSS feed</a> or on <a href="https://micro.blog/muan">micro.blog</a>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I try my best to stay away from <a href="https://twitter.com/muanchiou" rel="me">Twitter</a>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    My email is hi @ this domain.
  {% endcapture %}{% include line.html i=i content=content %}

</ul>

<hr class="hr">

<h2 class="text">Posts <span class="smol"><a href="/feed.xml">[feed]</a></span></h2>
<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">Latest note  <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>
