---
title: 🐣 Phạm Xuân Tiếp.
layout: default
header_content: |
  <span class="smol"><a href="/en">English</a> / Vietnam</span>
---

<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tài khoản tại
  <mark><a href="https://hsbc.com.vn/"><strong>HSBC</strong></a></mark>: <strong>004143665001</strong>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tài khoản tại
  <mark><a href="https://cimbbank.com.vn/"><strong>CIMB</strong></a></mark>: <strong>00336500201403</strong>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tài khoản tại
  <mark><a href="https://www.techcombank.com.vn/"><strong>Techcombank</strong></a></mark>: <strong>19036783796010</strong>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tôi bán tài khoản <mark><a href="https://google.com/adsense">AdSense</a></mark> chưa PIN, có PIN và đã PAY.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Tôi chạy quảng cáo <mark><a href="https://www.facebook.com/business/tools/ads-manager" rel="me">Facebook ads</a></mark>, <mark><a href="https://ads.google.com" rel="me">Google ads</a></mark> với ngân sách tiết kiệm.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
  Tôi phát triển <mark><a href="https://gushopvnxk.com">gushopvnxk.com</a></mark>. và đồng hành cùng <mark><a href="https://cytimy.com">cytimy.com</a></mark> phát triển. Và Advertiser của <mark><a href="https://tranthuychinh.com">Căn hộ bất động sản Trần Thùy Chinh</a></mark>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Xem toàn bộ các ghi chú của tôi tại <mark><a href="/notes" rel="me">Notes</a></mark>.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Liên lạc với mình trên<mark><a href="https://www.facebook.com/profile.php?id=100010018693354" rel="me">Facebook</a></mark>, trên Zalo <mark><a href="tel:0337036819" rel="me">0337036819</a></mark>, trên Telegram <mark><a href="https://t.me/cytimy" rel="me">@cytimy</a></mark>.
  {% endcapture %}{% include line.html i=i content=content %}

</ul>

<hr class="hr">

<h2 class="text">Posts <span class="smol"><a href="/feed.xml">[feed]</a></span></h2>
<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">Latest note  <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>
